<div class="contentLibreta" style="width: 600px;">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Libreta Sanitaria de {{data.nombre}} </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-list role="list">
                <mat-list-item style="height: 40px;margin-bottom: 3%;" role="listitem">
                    <p style="margin-bottom: 0px">Motivo: [[Castracion/Desperacitacion/Vacuna]]</p>
                    <p style="margin-bottom: 0px">fecha Realizada: [[fechaCreada]] </p>
                </mat-list-item>
                <mat-list-item style="height: 40px;margin-bottom: 3%;" role="listitem">
                    <p style="margin-bottom: 0px;">Motivo: [[Castracion/Desperacitacion/Vacuna]]</p>
                    <p style="margin-bottom: 0px;">fecha Realizada: [[fechaCreada]] </p>
                </mat-list-item>
                <mat-list-item style="height: 40px;margin-bottom: 3%;" role="listitem">
                    <p style="margin-bottom: 0px">Motivo: [[Castracion/Desperacitacion/Vacuna]]</p>
                    <p style="margin-bottom: 0px">fecha Realizada: [[fechaCreada]] </p>
                </mat-list-item>
                <mat-list-item style="height: 40px;margin-bottom: 3%;" role="listitem">
                    <p style="margin-bottom: 0px">Motivo: [[Castracion/Desperacitacion/Vacuna]]</p>
                    <p style="margin-bottom: 0px">fecha Realizada: [[fechaCreada]] </p>
                </mat-list-item>
            </mat-list>
            

        </mat-card-content>

    </mat-card>



</div>