<div class="contentLibreta" style="width: 600px;">

    
    <mat-card id="htmlData">
    <div class="centrado">
        <img src="../../assets/Logo1.png" style="height: 100px;">
    </div>
        <mat-card-header  style="display: flex; justify-content: center;">
            <mat-card-title>Libreta Sanitaria de {{data.nombre}} </mat-card-title>
        </mat-card-header>
    
        <mat-card-content >
                
                <mat-card style="margin-bottom: 3%;" *ngFor="let registro of libretaS;" >
                    <div style="margin-bottom: 0px">Motivo: {{registro.motivo}} </div>
                    <div style="margin-bottom: 0px">fecha Realizada: {{formatDate(registro.fechaRealizado)}} </div>
                    <div style="margin-bottom: 0px">Peso: {{registro.peso}} </div>
                    <div *ngIf="registro.motivo == 'VACUNACION' " style="margin-bottom: 0px">Tipo Vacuna: {{registro.tipoVacuna? registro.tipoVacuna: "Sin vacuna" }} </div>
                    <div *ngIf="registro.motivo == 'ATENCIONCLINICA' " style="margin-bottom: 0px">Tipo Vacuna: {{registro.tipoVacuna?
                        registro.tipoVacuna: "Sin vacuna" }} </div>
                    <div *ngIf="registro.motivo == 'DESPARACITACION' " style="margin-bottom: 0px">Dosis: {{registro.dosis}} </div>
                    <div *ngIf="registro.tipoVacuna == 'tipoB' " style="margin-bottom: 0px">Descripcion: {{registro.descripcion}} </div>
                    <mat-divider style="background-color:coral;"></mat-divider>
                </mat-card>
                
         
        </mat-card-content>
        
    </mat-card>
    
    <mat-card>
        <button mat-button  (click)="downloadPDF()">
            Descargar Libreta
        </button>
    </mat-card>

</div>