.tituloHeader{
    align-items: center;
}
.carta{
    background-color: rgb(226, 226, 226);
    border-radius: 1rem;
    margin: 2rem;    
  }
.example-spacer {
    flex: 1 1 auto;
}

.listDatos{
    display: flex;
    flex-direction: column;

    .mdc-text-field--disabled.mdc-text-field--filled {
        background-color: #e1e1e1;
    }
}



.listPerros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cartaPerro{
    width: 15%;
    padding: 5px;  
}

.tituloCarta{
    height: 10%;

}



