    <mat-card class="carta">
        <mat-card-header class="tituloHeader">
            <mat-card-title>Mi Perfil</mat-card-title> 
            <span class="example-spacer">  </span>   
            <mat-card-actions> 
                <div *ngIf="deshabilitado == true">                
                    <button mat-button (click)="editarPerfil()">Editar Perfil</button>
                </div> 
                <div *ngIf="deshabilitado == false">                
                    <button mat-button (click)="enviarEdicion()">Enviar</button>
                </div> 
                <div *ngIf="deshabilitado == false">                
                    <button mat-button (click)="cancelarEdicion()">Cancelar</button>
                </div>                                      
            </mat-card-actions>
        </mat-card-header>
        <mat-card-content style="padding-bottom: 0px;">
            <mat-list role="list" class = "lista">

                <div class="listDatos">
                
                    <mat-form-field  class="example-full-width" >
                    <mat-label>Nombre:</mat-label>                        
                         <input matInput [formControl]="nom"  style="color: black;" > 
                    </mat-form-field>                       
                                 
                
                    <mat-form-field  class="example-full-width">
                    <mat-label>Apellido</mat-label>                        
                        <input matInput  [formControl]="ape"   style="color: black;">
                    </mat-form-field>                       
                                 
                                
                    <mat-form-field  class="example-full-width">
                    <mat-label>Telefono:</mat-label>                        
                        <input matInput type="number" [formControl]="tel"  style="color: black;">
                    </mat-form-field>                       
                
                                            
                    <mat-form-field  class="example-full-width">
                    <mat-label>Dni:</mat-label>                        
                        <input matInput type="number" [formControl]="dn"  style="color: black;">
                    </mat-form-field>                       
                                 
                
                    <mat-form-field class="example-full-width">
                    <mat-label>Email:</mat-label>                        
                        <input matInput value=" {{usuario.email}}" [disabled]="true" style="color: black;">
                    </mat-form-field>                       
                
                </div>                 
                                              
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="carta">

        <mat-card-header class="tituloHeader">

            <mat-card-title>Mascotas</mat-card-title> 
            <span class="example-spacer">  </span>   
            <mat-card-actions>
                <button mat-button (click)="agregarMascota(this.usuario)">Agregar mascota</button>       
            </mat-card-actions>

        </mat-card-header>

        <mat-card-content style="padding-bottom: 0px;"> 

            <div class="listPerros" >

                <mat-card style="width: 220px;height: 230px;margin-bottom: 1%;margin-right: 8px;" *ngFor="let mascota of mascotas;" >
                    <div class="contentCard">

                        <div class="contentImg">
                            
                            <button mat-icon-button  (click)="openDetalle(mascota)"
                                style="z-index: 1; color: #24b4ed; position: absolute;right: 3px; top: 2px;">
                                <mat-icon class="material-symbols-outlined">pets</mat-icon>
                            </button>
                            <button mat-icon-button  (click)="openHistoriaClinica(mascota)"
                                style="z-index: 1; color: #24b4ed; position: absolute;right: 3px; top: 40px;">
                                <mat-icon class="material-symbols-outlined">medical_information</mat-icon>
                            </button>
                            <button mat-icon-button (click)="openLibretaSanitaria(mascota)"
                                style="z-index: 1; color: #24b4ed; position: absolute;right: 3px; top: 80px;">
                                <mat-icon class="material-symbols-outlined">picture_as_pdf</mat-icon>
                            </button>
                            
                            <img mat-card-md-image class="img-fluid" [src]="mascota.foto || 'assets/img/default.jpg'" style=" height: auto;width: 100%;max-width: 97%;max-height: 92%;">
                        </div>
                        
                        <div class="contentDetail">
                            <div class="title">
                                <p>{{mascota.nombre}}</p>
                            </div>

                            <div class="info">
                                <div class="detEdad">
                                   <mat-card>
                                    <p style="margin: 0; text-align: center;">4 meses</p>
                                    <mat-card-subtitle style="text-align: center;">Edad</mat-card-subtitle>
                                    </mat-card>
                                </div>
                                <div class="sex">
                                    <mat-card>
                                        <p style="margin: 0; text-align: center;">{{mascota.sexo}}</p>
                                        <mat-card-subtitle style="text-align: center;">Sexo</mat-card-subtitle>
                                    </mat-card>
                                </div>
                                <div class="raza">
                                    <mat-card>
                                        <p style="margin: 0; text-align: center;">{{mascota.raza}}</p>
                                        <mat-card-subtitle style="text-align: center;">Raza</mat-card-subtitle>
                                    </mat-card>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                        
                </mat-card>

                <!-- <div class="cartaPerro" *ngFor="let mascota of mascotas;">

                    <mat-card style="width: 200px;height: 230px;" >

                        <div class="tituloCarta">

                            <mat-card-header>                                
                                <mat-card-title>{{mascota.nombre}}</mat-card-title>
                                <mat-card-subtitle>{{mascota.raza}}</mat-card-subtitle>
                                <img mat-card-md-image [src]="mascota.foto || 'assets/img/default.jpg'">
                            </mat-card-header>       

                        </div> 

                        <div class="contenido"> 

                            <mat-card-content>                    
                                <p class="texto">
                                    {{mascota.caracteristicas}}                            
                                </p>                
                            </mat-card-content>

                        </div>

                        <mat-card-actions>
                            <button mat-button (click)="openDetalle(mascota)">DETALLE</button>                  
                        </mat-card-actions>

                    </mat-card>

                </div> -->

                <div *ngIf="mascotas.length == 0" class="sinPerros">
                    <p>No tiene perros registrados en el sistema. Deberá registrar una mascota. Solicitar un turno y atender su mascota en la veterinaria para completar su registro.</p>
                </div>

            </div>
            

        </mat-card-content>

    </mat-card>
  