
<div class="contenedor">
<div  class="boton-grande">
    <h1 style="text-align: center;">
        HISTORIA CLINICA
    </h1>
<a class="example-spacer"></a>
<button  mat-icon-button   class="boton-grande">
    <mat-icon >
        add
    </mat-icon>
</button>
</div>

<hr>

<div   class="boton-grande" >


<h1 style="text-align: center;">
    LIBRETA SANITARIA
</h1>

<a class="example-spacer"></a>
<button mat-icon-button  class="boton-grande">
    <mat-icon>
        add
    </mat-icon>
</button>

</div>
</div>
