
<mat-toolbar   color="primary" class="navbar">
    <button mat-button [routerLink]="'/home'"  >
    <a>OhMyDog</a>
    </button>
    <span class="example-spacer"></span>
    <!-- (click)="onPaseadoresButtonClick()" con esto al apretar el paseadores en el navbr lo scrollea hacia las vista de abajo falta traer los utlimos 4 paseadores y poner un boton de ver mas -->
    <!-- (click)="onAdopcionesButtonClick()" con esto al apretar el paseadores en el navbr lo scrollea hacia las vista de abajo falta traer los utlimos 4 adopciones y poner un boton de ver mas -->
    <a mat-button [routerLink]="'/turnos'"  *ngIf="mostrar(['VETERINARIO','CLIENTE']) ">Mis Turnos </a>
    <a mat-button (click)="onPaseadoresButtonClick()"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Paseadores</a>
    <a mat-button (click)="onAdopcionesButtonClick()" *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Adopcion </a>
    <!-- <a mat-button [routerLink]="'/donaciones'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Donar</a> -->
    <a mat-button [routerLink]="'/perro-encontrados'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Encontrados </a>
    <a mat-button [routerLink]="'/perro-perdidos'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Perdidos  </a>
  
    
    
    <button mat-icon-button    *ngIf=" isLogged()&& mostrar( ['VETERINARIO','CLIENTE'] )" (click)="closeSesion()"aria-label="Example icon-button with heart icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button    *ngIf=" isLogged()&& mostrar( ['VETERINARIO','CLIENTE'] )" [routerLink]="'/perfil'" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button  *ngIf="mostrar( ['NOCLIENTE'] )"   (click)="openLogin()"aria-label="Example icon-button with heart icon">
      <a>Iniciar sesion</a>
    </button>
    <button mat-button (click)="openRegistrar()" *ngIf="mostrar( ['NOCLIENTE'] )">
      <a>Registrarse</a>
    </button> 


    
