<mat-toolbar color="primary" class="navbar">
    <button mat-button [routerLink]="'/home'"  >
    <a>OhMyDog</a>
    </button>
    <span class="example-spacer"></span>
  
    <a mat-button [routerLink]="'/turnos'"  *ngIf="mostrar(['VETERINARIO','CLIENTE']) ">Mis Turnos </a>
    <a mat-button [routerLink]="'/paseadores'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Paseadores</a>
    <a mat-button [routerLink]="'/adopciones'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Adopcion </a>
    <a mat-button [routerLink]="'/donaciones'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Donar</a>
    <a mat-button [routerLink]="'/perro-encontrados'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Encontrados </a>
    <a mat-button [routerLink]="'/perro-perdidos'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Perdidos  </a>
  
    <button mat-icon-button  *ngIf="mostrar( ['NOCLIENTE'] )"   (click)="openLogin()"aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button    *ngIf=" isLogged()&& mostrar( ['VETERINARIO','CLIENTE'] )" (click)="closeSesion()"aria-label="Example icon-button with heart icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
    <button mat-icon-button    *ngIf=" isLogged()&& mostrar( ['VETERINARIO','CLIENTE'] )" [routerLink]="'/perfil'" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button (click)="openRegistrar()" *ngIf="mostrar( ['NOCLIENTE'] )">
      <a>Registrarse</a>
    </button> 
  </mat-toolbar>
