<div class="pantalla">
    <h1 style="padding: 15px">Paseadores</h1>
    <mat-card-actions class="cartelito" *ngIf="mostrar(['VETERINARIO'])">
        <button mat-button (click)="agregarPaseador()">Agregar paseador</button>                  
    </mat-card-actions>
    
     <div class="Mias">
        <mat-list class="listaPublicacionPaseador">
           

                    <div class="cartaPublicacionPaseador" *ngFor="let paseador of paseadores;" >  
                        <mat-card >
                            <div class="tituloPublicacion">

                                <mat-card-header>                
                                    <mat-card-title>{{paseador.nombre}}</mat-card-title>            
                                    <mat-card-subtitle *ngIf="paseador.disponible == true" style="color: darkgreen;"> Disponible</mat-card-subtitle> 
                                    <mat-card-subtitle *ngIf="paseador.disponible == false" style="color: brown;">No disponible </mat-card-subtitle>                                     
                                                                                           
                                                  
                                </mat-card-header>     
                                
                            </div>  
                            <div class="contenido">   
                                <mat-card-content>                    
                                    <mat-card-subtitle >  Descripcion   </mat-card-subtitle>    
                                    <p> {{paseador.descripcion}} </p>
                                    <mat-card-subtitle >  Zona de trabajo  </mat-card-subtitle>    
                                    <p> {{paseador.zonaTrabajo}} </p>     
                                    <mat-card-subtitle >  Horario  </mat-card-subtitle>    
                                    <p> {{paseador.horarioTrabajo}} </p>               
                                </mat-card-content>                                   
                              
                            </div>
                            <mat-card-actions>
                                <button mat-button (click)="contactar()" *ngIf="mostrar(['CLIENTE','NOCLIENTE']) && this.paseador.disponible == true">Contactar</button>                  
                                <button mat-button (click)="openDetalle(paseador)" *ngIf="mostrar(['VETERINARIO'])">Editar</button>                  
                            </mat-card-actions> 
                           
                            
                        </mat-card>
                    </div>
      
                    <div *ngIf="paseadores.length == 0" class="sinPaseadores">
                        <p>No hay paseadores disponibles.</p>
                    </div>

        </mat-list>
    </div> 

   
        
</div>
