.pantalla{
   background-color:  rgb(238, 243, 243);
   height: 93%;
}



.adopcionesMias{
    background-color: rgb(233, 233, 233);
    margin: 10px;
    border-radius: 2px;
    .cartelito{
        background-color: rgb(218, 218, 218);
        padding: 10px;
    }
}

.adopcionesAjenas{
    background-color: rgb(233, 233, 233);
    margin: 10px;
    border-radius: 2px;
    .cartelito{
        background-color: rgb(218, 218, 218);
      padding: 10px;
    }
}






.listaPublicacionAdopcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listaPublicacionAdopcion .cartaPublicacionAdopcion {
     padding: 10px;   
}

.listaPublicacionAdopcion .cartaPublicacionAdopcion .mat-mdc-card mdc-card{
    background-color: #525252;
}

.tituloPublicacion{
    height: 10%;
    
}


