.pantalla{
   background-color:  rgb(238, 243, 243);
   height: 93%;
}
.listaPublicacionAdopcion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listaPublicacionAdopcion .cartaPublicacionAdopcion {
     padding: 5px;   
}

.listaPublicacionAdopcion .cartaPublicacionAdopcion .mat-mdc-card mdc-card{
    background-color: #525252;
}

.tituloPublicacion{
    height: 10%;
}
