<mat-card-content>
    <div class="agregar">
        <mat-list role="list" class = "lista">

            <div class="listDatos" *ngIf="mascotas.length != 0">

              <mat-form-field class="example-full-width" appearance="fill" style="width: 90%;" >
                    <mat-label>Seleccionar mascota</mat-label>
                    <mat-select [formControl]="mascotaFormControl">
                        <!-- <mat-option *ngFor="let zona of zonas" value="{{zona.id}}"> {{zona.nombre}} </mat-option> -->
                        <mat-option *ngFor="let mascota of mascotas" value="{{mascota.id}}"> {{mascota.nombre}}
                        </mat-option>

                    </mat-select>

                   

                </mat-form-field>
                
                <mat-form-field  class="example-full-width" >
                <mat-label>Fecha :</mat-label>                        
                <input matInput  [matDatepicker]="picker" [max]="minDate" placeholder="fecha en que se encontro" [formControl]="fechaEncontrado"> 
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker disabled="false"></mat-datepicker>
                <mat-hint *ngIf="IsDateValid()" style="color: red;">La fecha debe ser menor a la actual</mat-hint>
                </mat-form-field>                       
                            
            
                <mat-form-field  class="example-full-width">
                <mat-label>Lugar:</mat-label>                        
                    <input matInput  placeholder="lugar donde lo encontro"  [formControl]="lugar">
                </mat-form-field>                      
    
                <mat-form-field  class="example-full-width">
                <mat-label>Descripcion:</mat-label>                        
                    <input matInput  placeholder="Descripcion" [formControl]="descripcion" >
                </mat-form-field>                       
            
                                        
                <!-- <mat-form-field  class="example-full-width">
                <mat-label>Sexo:</mat-label>                        
                    <input matInput placeholder="Genero" [formControl]="genero" >
                </mat-form-field>                    -->
                    
              
            </div> 

        </mat-list>     
           
        <div class="botonera" *ngIf="mascotas.length !=0">            
            <div>                
            <button mat-button (click)="agregarEncontrado()" >Enviar</button>
            </div> 
            <span class="example-spacer"></span> 
    
            <div>                
            <button mat-button (click)="onNoClick()">Cancelar</button>
            </div>      
        </div>
                       

        <div *ngIf="mascotas.length == 0" class="withOutPet" appearance="fill">

            <a> Debe agregar una mascota para realizar la publicacion</a>
        </div>