
<div class="contenedor">
    <!-- <div  class="boton-grande">
        <h1 style="text-align: center;" class="tituloPublicacion">
            <b> Publicaciones de donaciones a refugios</b>
        </h1>
    <a class="example-spacer"></a>
    <div class="pantalla">
        <mat-card-actions *ngIf="mostrar(['VETERINARIO'])">
            <button mat-button (click)="agregarEncontrado(this.usuario)"  style="text-align: center;">Publicar perro encontrado</button>                  
        </mat-card-actions>
        <div *ngIf="mostrar(['CLIENTE','VETERINARIO']) ">
        <div class="Mias" *ngIf="esVerificado() && mostrar(['CLIENTE'])">
            <div class = "cartelito"> 
                <span>Mis publicaciones de donaciones a refugios</span>
            </div>
            <mat-list class="listaPublicacionPaseador">
                
                        <div class="cartaPublicacionPaseador" *ngFor="let encontrado of encontradosMias" >  
                            <mat-card >
                                 <div class="tituloPublicacion">
                                  
                                     <mat-card-header>  
                                        <mat-card-title>Fecha limite: {{perro.fechaLimite}} </mat-card-title>                               
                                        </mat-card-header>       
                                    
                                </div>  
                                <div class="contenido">  
                                     <mat-card-content>                    
                                        <p class="texto"> Historia: <b> {{perro.historia}}</b>  </p>                
                                    </mat-card-content>
                                    <mat-card-content>                    
                                        <p class="texto"> Descripcion: <b> {{perro.descripcion}}</b>  </p>                
                                    </mat-card-content> 
                                    <mat-card-content>                    
                                        <p class="texto"> Monto: <b> {{perro.monto}}</b>  </p>                
                                    </mat-card-content>  
                                                              
                                  
                                </div>
                              
                            </mat-card>
                            
                        </div>
                        <div *ngIf="encontradosMias.length == 0" class="sinPaseadores">
                            <p>No hay publicaciones tus perros encontrados</p>
                        </div>
            </mat-list>
        </div>
        </div>
    </div>
    </div> -->









<hr *ngIf="mostrar(['NOCLIENTE'])">
    
    








    <div   class="boton-grande" >
    <h1 style="text-align: center;" class="tituloPublicacion">
        <b>Publicaciones de donaciones a perros</b>
    </h1>
    

    <div class="pantalla">
        <!-- <mat-card-actions *ngIf="mostrar(['VETERINARIO'])">
            <button mat-button (click)="agregarPerdido(this.usuario)">Publicar donacion para perro</button>                  
        </mat-card-actions> -->


        <div *ngIf="mostrar(['CLIENTE','VETERINARIO','NOCLIENTE'])">
        <div  class="Mias" *ngIf="esVerificado() && mostrar(['CLIENTE'])">
            <div class = "cartelito"> 
                <span>Publicaciones de donaciones a perros</span>
            </div>
            <mat-list class="listaPublicacionPaseador">
                
            
                        <div class="cartaPublicacionPaseador" *ngFor="let perro of donacionPerros" >  
                            <mat-card >
                                <div class="tituloPublicacion">
                                  
                                     <mat-card-header>  
                                        <mat-card-title>Fecha limite: {{perro.fechaLimite}} </mat-card-title>                               
                                        </mat-card-header>       
                                    
                                </div>  
                                <div class="contenido">  
                                     <mat-card-content>                    
                                        <p class="texto"> Historia: <b> {{perro.historia}}</b>  </p>                
                                    </mat-card-content>
                                    <mat-card-content>                    
                                        <p class="texto"> Descripcion: <b> {{perro.descripcion}}</b>  </p>                
                                    </mat-card-content> 
                                    <mat-card-content>                    
                                        <p class="texto"> Monto: <b> {{perro.monto}}</b>  </p>                
                                    </mat-card-content>  
                                                              
                                  
                                </div>
                                
                                <!-- tiene que ser el boton contactar aca el detalle -->
                                <!-- <mat-card-actions>
                                    <button mat-button (click)="openDetallePerdido(perdido)" >Editar</button>                  
                                </mat-card-actions> -->
                           
                            </mat-card>
                        </div>
          
                        <div *ngIf="donacionPerros.length == 0" class="sinPaseadores">
                            <p>No hay publicaciones de donaciones para un perro</p>
                        </div>
    
            </mat-list>
        </div>
       
        </div>
       
    </div>

    </div>
</div>
    