.contentCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-card {}

.buttonConfirm {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.withOutPet {
    display: flex;
    width: 400px;
    align-items: center;
    flex-direction: column;
}