<div class="contentG">

  

    <mat-card style="width: 95%; margin-top: 3%;">

        <mat-card-header>

            <div class="formHead">

                <mat-card-title>Gestion de Turnos</mat-card-title>

            </div>

        </mat-card-header>

        <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">

            <!-- Turnos Solicitados sin fecha asignada -->
            <mat-tab label="Turnos Solicitados">

                <div *ngIf="turnoSolicitados.length > 0" class="contentSolicidados">

                    <div class="contentCardSolicitud">

                        <mat-card style="width: 95%;margin: 1%;" *ngFor="let turno of turnoSolicitados">

                            <div class="cardFormat">
                                <div class="formatInfo">

                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="titleFormat">

                                                <mat-icon style="font-size: 22px;" fontIcon="person">
                                                </mat-icon> {{turno.usuario.nombre}} -

                                                <mat-icon style="font-size: 22px;margin-left: 3px;" fontIcon="pets">
                                                </mat-icon> {{turno.mascota.nombre}}

                                            </div>

                                        </mat-card-title>
                                        <mat-card-subtitle style="text-transform: capitalize;"> {{formatDate(turno.fechaSolicitada)}} - {{turno.horarioTentativo}}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{turno.motivo}}
                                    </mat-card-content>

                                </div>

                                <div class="formatAction">
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="asignarTurno(turno)">Asignar</button>
                                    </mat-card-actions>
                                </div>
                            </div>

                        </mat-card>

                    </div>
                </div>
                <div *ngIf="turnoSolicitados.length <= 0">
                    <mat-card
                        style="display: flex; flex-direction: column; align-items: center; background: aliceblue; padding: 5%">
                        <mat-card-header>
                            <mat-card-title>No hay turnos pendientes por aceptar</mat-card-title>
                            <mat-card-subtitle>Refrescar la pagina para actualizar</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </mat-tab>

            <!-- Turnos Asignados con fecha asignacion posterior o igual a la actual -->
            <mat-tab label="Turnos Asignados">

                <div *ngIf="turnoConfirmados.length > 0" class="contentSolicidados">

                    <div class="contentCardSolicitud">

                        <mat-card style="width: 95%;margin: 1%;" *ngFor="let turnoC of turnoConfirmados">

                            <div class="cardFormat">
                                <div class="formatInfo">

                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="titleFormat">

                                                <mat-icon style="font-size: 22px;" fontIcon="person">
                                                </mat-icon> {{turnoC.usuario.nombre}} -

                                                <mat-icon style="font-size: 22px;margin-left: 3px;" fontIcon="pets">
                                                </mat-icon> {{turnoC.mascota.nombre}}

                                            </div>

                                        </mat-card-title>
                                        <mat-card-subtitle style="text-transform: capitalize;">
                                            <div class="subtDateS">
                                                {{formatDate(turnoC.fechaSolicitada)}} - {{turnoC.horarioTentativo}}

                                            </div>
                                            <div class="subDateA">
                                                {{format2Date(turnoC.fechaAsignada)}}

                                            </div>
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{turnoC.motivo}}
                                    </mat-card-content>

                                </div>

                                <div class="formatAction">
                                    <mat-card-actions>
                                        <button mat-raised-button (click)="atencionCliente(turnoC)">Atender</button>
                                    </mat-card-actions>
                                </div>
                            </div>

                        </mat-card>

                    </div>
                </div>

                <div *ngIf="turnoConfirmados.length <= 0">
                    <mat-card
                        style="display: flex; flex-direction: column; align-items: center; background: aliceblue; padding: 5%">
                        <mat-card-header>
                            <mat-card-title>No hay turnos asignados</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>


            </mat-tab>

            <!-- Turnos asignados con fecha de asignacion anteriores a la fecha actual -->
            <mat-tab label="Historial" dynamicHeight>

                <div *ngIf="turnoHistorial.length > 0" class="contentSolicidados">

                    <div class="contentCardSolicitud">

                        <mat-card style="width: 95%;margin: 1%;" *ngFor="let turnoH of turnoHistorial">

                            <div class="cardFormat">
                                <div class="formatInfo">

                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="titleFormat">

                                                <mat-icon style="font-size: 22px;" fontIcon="person">
                                                </mat-icon> {{turnoH.usuario.nombre}} -

                                                <mat-icon style="font-size: 22px;margin-left: 3px;" fontIcon="pets">
                                                </mat-icon> {{turnoH.mascota.nombre}}

                                            </div>

                                        </mat-card-title>
                                        <mat-card-subtitle> {{formatDate(turnoH.fechaSolicitada)}} - {{turnoH.horarioTentativo}}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{turnoH.motivo}}
                                    </mat-card-content>

                                </div>

                                <div class="formatAction">
                                    <mat-card-actions>
                                        <a *ngIf="turnoH.estadoSolicitud == 'CONFIRMADO'" style=" color: green;font-weight: bolder;font-family: 'Roboto';"> {{turnoH.estadoSolicitud}}</a>
                                        <a *ngIf="turnoH.estadoSolicitud == 'ATENDIDO'" style=" color: #59b6ff;font-weight: bolder;font-family: 'Roboto';"> {{turnoH.estadoSolicitud}}</a>
                                        <a *ngIf="turnoH.estadoSolicitud == 'CANCELADO'" style=" color: grey;font-weight: bolder;font-family: 'Roboto';"> {{turnoH.estadoSolicitud}}</a>
                                    </mat-card-actions>
                                </div>
                            </div>

                        </mat-card>

                    </div>
                </div>

                <div *ngIf="turnoHistorial.length <= 0">
                    <mat-card
                        style="display: flex; flex-direction: column; align-items: center; background: aliceblue; padding: 5%">
                        <mat-card-header>
                            <mat-card-title>No hay historial de turnos actualmente</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>



            </mat-tab>

        </mat-tab-group>

    </mat-card>


</div>