<div class="contentG">

    <button mat-icon-button color="accent" (click)="exportarMetodo()">
        <mat-icon>contact_mail</mat-icon>
    </button>

    <mat-card style="width: 95%; margin-top: 3%;">

        <mat-card-header>

            <div class="formHead">

                <mat-card-title>Gestion de Turnos</mat-card-title>

            </div>

        </mat-card-header>

        <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">

            <!-- Turnos Solicitados sin fecha asignada -->
            <mat-tab label="Turnos Solicitados">

                <div class="contentSolicidados">

                    <div class="contentCardSolicitud">

                        <mat-card style="width: 95%;margin: 1%;" *ngFor="let turno of turnoSolicitados">

                            <div class="cardFormat">
                                <div class="formatInfo">

                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="titleFormat">

                                                <mat-icon style="font-size: 22px;" fontIcon="person">
                                                </mat-icon> {{turno.usuario.nombre}} -

                                                <mat-icon style="font-size: 22px;margin-left: 3px;" fontIcon="pets">
                                                </mat-icon> {{turno.mascota.nombre}}

                                            </div>

                                        </mat-card-title>
                                        <mat-card-subtitle> {{turno.fechaSolicitada}} - {{turno.horarioTentativo}}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{turno.motivo}}
                                    </mat-card-content>

                                </div>

                                <div class="formatAction">
                                    <mat-card-actions>
                                        <button mat-raised-button>Asignar</button>
                                    </mat-card-actions>
                                </div>
                            </div>

                        </mat-card>

                    </div>
                </div>

            </mat-tab>

            <!-- Turnos Asignados con fecha asignacion posterior o igual a la actual -->
            <mat-tab label="Turnos Asignados">

                <div class="contentSolicidados">

                    <div class="contentCardSolicitud">

                        <mat-card style="width: 95%;margin: 1%;" *ngFor="let turnoC of turnoConfirmados">

                            <div class="cardFormat">
                                <div class="formatInfo">

                                    <mat-card-header>
                                        <mat-card-title>
                                            <div class="titleFormat">

                                                <mat-icon style="font-size: 22px;" fontIcon="person">
                                                </mat-icon> {{turnoC.usuario.nombre}} -

                                                <mat-icon style="font-size: 22px;margin-left: 3px;" fontIcon="pets">
                                                </mat-icon> {{turnoC.mascota.nombre}}

                                            </div>

                                        </mat-card-title>
                                        <mat-card-subtitle> {{turnoC.fechaSolicitada}} - {{turnoC.horarioTentativo}}
                                        </mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        {{turnoC.motivo}}
                                    </mat-card-content>

                                </div>

                                <div class="formatAction">
                                    <mat-card-actions>
                                        {{turnoC.fechaAsignada}}
                                    </mat-card-actions>
                                </div>
                            </div>

                        </mat-card>

                    </div>
                </div>

            </mat-tab>

            <!-- Turnos asignados con fecha de asignacion anteriores a la fecha actual -->
            <mat-tab label="Historial">
                no tiene turnos en el historial
            </mat-tab>
        </mat-tab-group>

    </mat-card>


</div>