.contentG {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentSolicidados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .contentCardSolicitud {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #59b6ff;
    }
}

.cardFormat {
    display: flex;
    flex-direction: row;

    .formatInfo {
        width: 90%;
    }

    .titleFormat {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start; 
    }

    .formatAction {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}