.TurnosFecha{
    height: 40px;
    color: rgb(42 129 241 / 91%);
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}

.subT{
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}