<mat-toolbar color="primary">
  <span>OhMyDog</span>
  <span class="example-spacer"></span>

  <a mat-button [routerLink]="'/turnos'"  *ngIf="mostrar(['VETERINARIO','CLIENTE']) "> Turno </a>
  <a mat-button [routerLink]="'/paseadores'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Paseadores</a>
  <a mat-button [routerLink]="'/adopciones'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE'] )"> Adopcion </a>
  <a mat-button [routerLink]="'/donaciones'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Donaciones</a>
  <a mat-button [routerLink]="'/perro-encontrados'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Encontrados </a>
  <a mat-button [routerLink]="'/perro-perdidos'"  *ngIf="mostrar( ['VETERINARIO','CLIENTE','NOCLIENTE'] )"> Perdidos  </a>

  <button mat-icon-button    (click)="openLogin()"aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon>
  </button>
  <!--<a (click)="openRegistrar()">
    Registrarse
  </a> -->
</mat-toolbar>


<router-outlet></router-outlet>