<mat-toolbar color="primary">
 
  <span>OhMyDog</span>  
  
  <span class="example-spacer"></span>
  <a mat-button [routerLink]="'/Turnos'"> Turnos </a>         
  <a mat-button [routerLink]="'/Dinaciones'"> Donaciones </a>
  <a mat-button [routerLink]="'/Adopcion'"> Adopcion </a>
  <a mat-button [routerLink]="'/Paseadores'"> Paseadores </a>
  <a mat-button [routerLink]="'/Perdidos'"> Perdidos </a>
  <a mat-button [routerLink]="'/Encontrados'"> Encontrados </a>
  <a mat-button [routerLink]="'/Blog'"> Blog </a>
  
  
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </button> 
</mat-toolbar> 


<router-outlet></router-outlet>