<div class="content">

    <div class="contentCard">


        <mat-card>
            <mat-card-header>
                <mat-card-title>Mis Turnos</mat-card-title>

            </mat-card-header>


            <mat-tab-group>

                <mat-tab label="Solicitado">

                    <div class="contentSolicidados">

                        <div class="contentCardSolicitud">

                            <mat-card style="width: 95%;margin: 1%;" *ngFor="let turno of misTurnos">
                                <div class="cardFormat">
                                    <div class="formatInfo">

                                        <mat-card-header>
                                            <mat-card-title> [NombreMascota] </mat-card-title>
                                            <mat-card-subtitle> {{turno.fechaSolicitada}} </mat-card-subtitle>
                                        </mat-card-header>
                                        <mat-card-content>
                                            {{turno.motivo}}
                                        </mat-card-content>

                                    </div>

                                    <div class="formatState">
                                        <mat-card-actions>
                                            <button mat-button>[Estado]</button>
                                        </mat-card-actions>
                                    </div>
                                </div>
                            </mat-card>


                        </div>

                    </div>

                    <div class="sinSolicitudes">
                        <p>No tiene turnos solicitados actualmente</p>
                    </div>


                </mat-tab>
                <!-- <mat-tab label="Historial"> Pendientes </mat-tab> -->
            </mat-tab-group>

        </mat-card>


    </div>




    <!-- <div class="contenButtonMore">

        <button mat-fab color="primary" aria-label="Crear Solicitud">
            <mat-icon>add</mat-icon>
        </button>

    </div> -->
</div>