<div class="contentViewAtention">

    <mat-card style="width: 100%;">
       <mat-card-header style="flex-direction: row; justify-content: space-between;margin-bottom: 2%;">

           <mat-card-title> Vista de atencion al cliente</mat-card-title>
    <button mat-icon-button matTooltip="Historia Medica" (click)="openHistoriaClinica()" >
            <mat-icon>library_books</mat-icon>
          </button>
       </mat-card-header>



        <mat-card-content >
            <div class="contentForm">

                <!-- <mat-form-field>
                    <mat-label>Motivo</mat-label>
                    <mat-select [formControl]="motivoFormControl">
                        <mat-option value="DESPARACITACION">Desparasitación</mat-option>
                        <mat-option value="CASTRACION">Castración</mat-option>
                        <mat-option value="VACUNACION">Vacunación</mat-option>
                        <mat-option value="ATENCIONCLINICA">Atencion Clinica</mat-option>
                        <mat-option value="OTROS">Otros...</mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="example-full-width">
                    <mat-label>Motivo</mat-label>
                    <input matInput disabled value="{{data.eleccionMotivo}}">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Observacion</mat-label>
                    <textarea matInput [formControl]="observacionFormControl" placeholder="Ingresa una observacion"></textarea>
                </mat-form-field>

                <mat-form-field floatLabel="always">
                    <mat-label>Peso con el que llega</mat-label>
                    <input matInput  [formControl]="pesoFormControl" type="number" class="example-right-align" placeholder="0">
                    <span matTextSuffix>KG&nbsp;</span>
                </mat-form-field>

                <mat-card class="VacunCard" *ngIf="data.eleccionMotivo != 'CASTRACION'">
                    <mat-card-header style="flex-direction: row; justify-content: space-between;margin-bottom: 2%;">
                    
                        <mat-card-title> Vacuna: </mat-card-title>
                        
                    </mat-card-header>

                    <mat-card-content>

                        <mat-form-field *ngIf="evaluarMotivo()" style="width: 100%;">
                            <mat-label>Vacuna Aplicada</mat-label>
                            <mat-select [formControl]="vacunaFormControl">
                                <mat-option value="tipoA">Tipo A: Enfermedades</mat-option>
                                <mat-option value="tipoB">Tipo B: Antirrabica</mat-option>
                                <mat-option value="Ninguna">Ninguna</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="infoVacuna">

                            <div class="errorTipoA"  *ngIf="vacunaFormControl.value == 'tipoA' && evaluarEdad() < 2 ">
                                El perro es menor de 2 meses no se puede aplicar
                            </div>
                            <div class="errorTipoB" *ngIf="vacunaFormControl.value == 'tipoB' && evaluarEdad() < 4 ">
                                El perro es menor a 4 meses no se puede aplicar<br>
                            </div>
                            <div class="infoTipoA" *ngIf="vacunaFormControl.value == 'tipoA' && ( evaluarEdad()>= 2 && evaluarEdad() <= 4 ) ">
                                <!-- Tipo A:  -->
                                El perro tiene entre 2 y 4 meses se notificara al usuario para que solicite turno para dentro de 21 dias<br>
                            </div>
                            <div class="infoTipoA" *ngIf="vacunaFormControl.value == 'tipoA' &&  evaluarEdad() >= 4  ">
                                <!-- Tipo A:  -->
                                El perro tiene mas de 4 meses, se notificara al usuario para que solicite turno para dentro de un Año 
                            </div>
                            <div class="infoTipoB"  *ngIf="vacunaFormControl.value == 'tipoB' && evaluarEdad() > 4 ">
                                El perro tiene mas de 4 meses, se notificara al usuario para que solicite turno para el proximo año
                            </div>

                        </div>
                        <mat-form-field *ngIf="data.eleccionMotivo == 'DESPARACITACION' " style="width:100%;" appearance="fill">
                            <mat-label>Dosis</mat-label>
                            <input matInput [formControl]="dosisFormControl" placeholder="Dosis aplicada">
                        </mat-form-field>

                        <div class="descTipoA" *ngIf="vacunaFormControl.value == 'tipoB' && evaluarEdad() > 2 ">

                            <!-- <mat-form-field style="width: 45%;" appearance="fill">
                                <mat-label>Dosis</mat-label>
                                <input matInput [formControl]="dosisFormControl" placeholder="Dosis aplicada">
                            </mat-form-field> -->
                            <mat-form-field style="width: 100%;" appearance="fill">
                                <mat-label>Descripcion</mat-label>
                                <input matInput [formControl]="descripDosis" placeholder="Ingrese una breve descripcion">
                            </mat-form-field>

                        </div>
                    </mat-card-content>
                    
                </mat-card>



                <mat-form-field floatLabel="always">
                    <mat-label>Monto</mat-label>
                    <input matInput [formControl]="montoFormControl" type="number" class="example-right-align" placeholder="0">
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                </mat-form-field>
              
            </div>
            
            
        </mat-card-content>
        
        <mat-card-actions style="justify-content: space-around;">
        
            <button style="width: 40%;" mat-stroked-button [disabled]="completoFormulario()" (click)="confirmarAtencion()">Registrar Atencion</button>
            <button style="width: 40%;" mat-stroked-button mat-dialog-close>Cancelar</button>

        </mat-card-actions>
    </mat-card>




</div>