<div class="contentViewAtention">

    <mat-card style="width: 100%;">
        <mat-card-title> Vista de atencion al cliente</mat-card-title>



        <mat-card-content >
            <div class="contentForm">

                <mat-form-field>
                    <mat-label>Motivo</mat-label>
                    <mat-select [formControl]="motivoFormControl">
                        <mat-option value="DESPARACITACION">Desparasitación</mat-option>
                        <mat-option value="CASTRACION">Castración</mat-option>
                        <mat-option value="VACUNACION">Vacunación</mat-option>
                        <mat-option value="ATENCIONCLINICA">Atencion Clinica</mat-option>
                        <mat-option value="OTROS">Otros...</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Observacion</mat-label>
                    <textarea matInput [formControl]="observacionFormControl" placeholder="Ingresa una observacion"></textarea>
                </mat-form-field>

                <mat-form-field floatLabel="always">
                    <mat-label>Peso con el que llega</mat-label>
                    <input matInput  [formControl]="pesoFormControl" type="number" class="example-right-align" placeholder="0">
                    <span matTextSuffix>KG&nbsp;</span>
                </mat-form-field>

                <mat-card class="VacunCard">

                    <mat-card-content>

                        <mat-form-field style="width: 100%;">
                            <mat-label>Vacuna Aplicada</mat-label>
                            <mat-select [formControl]="vacunaFormControl">
                                <mat-option value="tipoA">Tipo A: Enfermedades</mat-option>
                                <mat-option value="tipoB">Tipo B: Antirrabica</mat-option>
                                <mat-option value="option">Ninguna</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="infoVacuna">

                            <div class="errorTipoA"  *ngIf="vacunaFormControl.value == 'tipoA' && evaluarEdad() < 2 ">
                                El perro es menor de 2 meses no se puede aplicar
                            </div>
                            <div class="errorTipoB" *ngIf="vacunaFormControl.value == 'tipoB' && evaluarEdad() < 4 ">
                                El perro es menor a 4 meses no se puede aplicar<br>
                            </div>
                            <div class="infoTipoA" *ngIf="vacunaFormControl.value == 'tipoA' && ( evaluarEdad()>= 2 && evaluarEdad() <= 4 ) ">
                                Tipo A: El perro tiene entre 2 y 4 meses Agendar turno para dentro de 21 dias(Crear Solicitud Turno)<br>
                            </div>
                            <div class="infoTipoA" *ngIf="vacunaFormControl.value == 'tipoA' &&  evaluarEdad() >= 4  ">
                                Tipo A: El perro tiene mas de 4 meses Agender turno para dentro de un Año (Crear Solicitud turno)
                            </div>
                            <div class="infoTipoB"  *ngIf="vacunaFormControl.value == 'tipoB' && evaluarEdad() > 4 ">
                                El perro tiene mas de 4 meses, se sugiere solicitar turno para el proximo año
                            </div>

                        </div>
                        <div class="descTipoA" *ngIf="vacunaFormControl.value == 'tipoA' && evaluarEdad() > 2 ">

                            <mat-form-field style="width: 45%;" appearance="fill">
                                <mat-label>Dosis</mat-label>
                                <input matInput [formControl]="dosisFormControl" placeholder="Dosis aplicada">
                            </mat-form-field>
                            <mat-form-field style="width: 45%;" appearance="fill">
                                <mat-label>Descripcion</mat-label>
                                <input matInput [formControl]="descripDosis" placeholder="Ingrese una breve descripcion">
                            </mat-form-field>

                        </div>
                    </mat-card-content>
                    
                </mat-card>



                <mat-form-field floatLabel="always">
                    <mat-label>Monto</mat-label>
                    <input matInput [formControl]="montoFormControl" type="number" class="example-right-align" placeholder="0">
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>.00</span>
                </mat-form-field>
                <div class="infoMonto">
                    <div class="infoDescuento">
                        El dueño del perro tiene un descuento del 20% por donaciones realizadas. 
                        El valor a cobrar sera de 400$ menos
                    </div>
                    <div class="infoSinDescuento">
                        El dueño del perro no despone de descuentos
                    </div>
                
                </div>


            </div>
            
            
        </mat-card-content>
        
        <mat-card-actions style="justify-content: space-around;">
        
            <button style="width: 40%;" mat-stroked-button [disabled]="completoFormulario()" (click)="confirmarAtencion()">Confirmar</button>
            <button style="width: 40%;" mat-stroked-button mat-dialog-close>Cancelar</button>

        </mat-card-actions>
    </mat-card>




</div>