
<div class=" pantalla">

    <div class="centro">
        <div class="titulo">
            <h1>OhMyDog</h1>
        </div>
        <div>
            <p> Somos una veterinaria especializada en perros.</p>
        </div>
    </div>
</div>



<!-- 
  <div  class="pantalla" id="ultimas-publicaciones-adopciones">
    <h2 style="text-align: center;">Últimas Publicaciones de Adopciones</h2>
    <div  class="card-container">
      <mat-card class="card" *ngFor="let adopciones of ultimasAdopciones">
        <mat-card >
            <div class="tituloCarta" >
                <mat-card-header>                                
                    <mat-card-title>{{adopciones.titulo}}</mat-card-title>
                    <mat-card-subtitle>{{adopciones.motivo}}</mat-card-subtitle>
                </mat-card-header>       
            </div>     
            <div class="contenido">    
                <mat-card-content>                    
                    <p class="texto">
                        {{adopciones.descripcion}}   
                                            
                    </p>                
                </mat-card-content>
                <mat-card-content>                    
                    <p class="texto">
                        {{adopciones.observacion}}                         
                    </p>                
                </mat-card-content>
                
         </div>
        </mat-card>
      </mat-card>
    </div>
    <div class="container">
    <mat-card-actions>
      <a mat-button color="primary" class="colorBoton"  routerLink="/adopciones">Listar todas las adopciones</a>
    </mat-card-actions>
  </div>
  </div>



  <hr class="example-spacer">

  <div  class="pantalla" id="ultimas-publicaciones-paseadores">
    <h2 style="text-align: center;">Últimas Publicaciones de Paseadores</h2>
    <div class="card-container">
      <mat-card  class="card" *ngFor="let paseador of ultimosPaseadores">
    
        <mat-card style="flex-direction: column;" >
            <div class="tituloCarta">
                <mat-card-header>                                
                    <mat-card-title>{{paseador.nombre}}</mat-card-title>
                    <mat-card-subtitle>{{paseador.zonaTrabajo}}</mat-card-subtitle>
                </mat-card-header>       
            </div>     
            <div class="contenido">    
                <mat-card-content>                    
                    <p class="texto">
                        {{paseador.descripcion}}                            
                    </p>                
                </mat-card-content>
         </div>
        </mat-card>
      </mat-card>
    </div>
    <div class="container">
    <mat-card-actions>
      <a mat-button color="primary"  class="colorBoton" routerLink="/paseadores">Listar todos los paseadores</a>
    </mat-card-actions>
  </div>
  </div> -->